# TFM - Carga y Evaluación de los Datos
### Ismael Franco Hernando

# Imports

In [1]:
#import numpy as np
import pandas as pd
from mysql.connector import (connection)

# Conexión y pruebas en la base de datos

Nos conectamos a la base de datos a través del usuario, contraseña, host y nombre de la base de datos. En caso de que haya algún problema devolverá un error.

In [2]:
try:
    cnx = connection.MySQLConnection(user='leer', 
                                     password='candanal',
                                     host='138.100.82.178',
                                     database='deepquality')

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Usuario o contraseña incorrecto")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe")
    else:
        print(err)

In [3]:
# Contamos el número de registros que hay en la tbala correspondiente a las imágenes 1D
q01 = "SELECT count(*) FROM GR_LPValues"
r01 = pd.read_sql(q01,cnx)
r01

   count(*)
0    115972

In [4]:
# Contamos el número de registros que hay en la tbala correspondiente a las imágenes 2D
q02 = "SELECT count(*) FROM GR_QPValues"
r02 = pd.read_sql(q02,cnx)
r02

   count(*)
0   1272312

In [5]:
# Contamos el número de sensores que se usan para tomar los datos
q03 = "SELECT count(*) FROM Gauges"
r03 = pd.read_sql(q03,cnx)
r03

   count(*)
0         6

In [6]:
# Contamos el número de bobinas que se han evaluado
q04 = "SELECT count(*) FROM V_Coils"
r04 = pd.read_sql(q04,cnx)
r04

   count(*)
0      1160

# Bobinas clasificadas

In [7]:
# Guardamos y mostramos las bobinas clasificadas
q05 = "SELECT * FROM V_Coils"
clasif = pd.read_sql(q05,cnx)
clasif

,id,SID,PLANT,NAME,STARTTIME,MATERIAL,LENGTH,WIDTH,THICK,WEIGHT,BASEPID,CLASSLABEL,Label,ZnMin,ZnMax
0,1161,226031456,1066.0,226031456,2022-01-28,0.0,792.0,1183.0,3.0,22.0,220100.0,NOK,0,60,80
1,1162,226101621,1066.0,226101621,2022-01-31,0.0,273.0,1252.0,4.0,10.0,220100.0,NOK,2,215,258
2,1163,226120037,1066.0,226120037,2022-01-31,0.0,599.0,1305.0,2.0,15.0,220100.0,OK,1,155,175
3,1164,225387481,1066.0,225387481,2022-01-13,0.0,268.0,1502.0,5.0,15.0,220100.0,OK,1,60,80
4,1165,225406471,1066.0,225406471,2022-01-13,0.0,735.0,1158.0,2.0,19.0,220100.0,NOK,0,45,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155,2316,233642421,1066.0,233642421,2022-08-31,0.0,576.0,1422.0,3.0,24.0,220800.0,OK,2,138,158
1156,2317,233445180,1066.0,233445180,2022-08-25,0.0,513.0,1437.0,4.0,23.0,220800.0,OK,1,125,145
1157,2318,232624927,1066.0,232624927,2022-08-01,0.0,345.0,1482.0,2.0,11.0,220800.0,OK,2,155,175
1158,2319,232635130,1066.0,232635130,2022-08-01,0.0,457.0,968.0,3.0,11.0,220800.0,OK,1,88,108
1159,2320,232638581,1066.0,232638581,2022-08-01,0.0,542.0,1047.0,5.0,22.0,220800.0,OK,1,60,80

# Imágenes 1D

In [8]:
# Guardamos y mostramos los valores correspondientes a las imágenes 1D
q06 = "SELECT * FROM GR_LPValues"
unoD = pd.read_sql(q06,cnx)
unoD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,228318255,116480.0,124.0,1066.0,T,143.32179,143.32179,143.32179,1.0
1,228318255,116480.0,201.0,1066.0,T,145.10339,145.10339,145.10339,1.0
2,228318255,116480.0,202.0,1066.0,T,138.98370,138.98370,138.98370,1.0
3,228318255,116480.0,123.0,1066.0,T,145.78580,145.78580,145.78580,1.0
4,228318255,119040.0,124.0,1066.0,T,148.77290,148.77290,148.77290,1.0
...,...,...,...,...,...,...,...,...,...
115967,232800547,0.0,123.0,1066.0,T,207.00020,207.00020,207.00020,1.0
115968,232800547,5120.0,124.0,1066.0,T,89.30820,89.30820,89.30820,1.0
115969,232800547,5120.0,201.0,1066.0,T,248.35600,248.35600,248.35600,1.0
115970,232800547,5120.0,202.0,1066.0,T,76.74000,76.74000,76.74000,1.0
115971,232800547,5120.0,123.0,1066.0,T,179.34650,179.34650,179.34650,1.0

In [9]:
# Ordenamos el DF a través de la 1D de la bobina y de las diferentes tejas que tiene
unoD = unoD.sort_values(['COILID', 'MID', 'TILEID']).reset_index(drop=True)
unoD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,225216688,0.0,123.0,1066.0,T,88.94490,88.94490,88.94490,1.0
1,225216688,5120.0,123.0,1066.0,T,81.65457,81.65457,81.65457,1.0
2,225216688,10240.0,123.0,1066.0,T,94.79793,94.79793,94.79793,1.0
3,225216688,15360.0,123.0,1066.0,T,127.82180,127.82180,127.82180,1.0
4,225216688,20480.0,123.0,1066.0,T,125.88000,125.88000,125.88000,1.0
...,...,...,...,...,...,...,...,...,...
115967,233667056,109056.0,202.0,1066.0,T,51.92412,51.92412,51.92412,1.0
115968,233667056,114176.0,202.0,1066.0,T,52.02400,52.02400,52.02400,1.0
115969,233667056,119552.0,202.0,1066.0,T,48.61295,48.61295,48.61295,1.0
115970,233667056,124672.0,202.0,1066.0,T,42.18800,42.18800,42.18800,1.0
115971,233667056,129792.0,202.0,1066.0,T,43.21667,43.21667,43.21667,1.0

In [10]:
def analizador(datos, clasificados):
    # Creamos el DF que se devolverá con las diferentes columnas
    rDF = pd.DataFrame(columns = ['COILID' , 'MID', 'CLASSLABEL', 'VERIFIEDLABEL', 'FAILURES', 'CALIBRATED'])
    
    # Inicializamos los parámetros con los que se trabajará a lo largo de la función
    errorAntes = False # Será False en caso de que en la anterior iteración no hubiera ningún error,
                        # y True en caso contrario
    midAnterior = -1 # Contiene el ID del sensor de la anterior iteración 
    idAnterior = -1 # Contiene la ID de la bobina de la anterior iteración
    calibradosTotales = 0 # Contador de calibrados
    fallosTotales = 0 # Contador de fallos
    contadorID = -1 # Contador para añadir los registros por orden en pandas
    
    # Se recorren todas las tejas de todas las bobinas para evaluarlas
    for i in range(len(datos)):
        # ID de la bobina
        id = datos['COILID'][i]
        # ID del sensor que ha medido los datos
        mid = datos['MID'][i]
        
        # Comparamos las ID de los sensores y en caso de ser diferentes es que hemos pasado a analizar
        # los datos de otro sensor, por lo que se pueden guardar los datos evaluado del anterior sensor
        if mid != midAnterior:
            # Este contador permite no guardar datos en la primera iteración.
            if contadorID >= 0:
                # Ponemos por defecto label a OK y en caso de que haya un fallo o mas se cambia a NOK
                verificado = 'OK'
                if fallosTotales > 0:
                    verificado = 'NOK'
                # Se añaden los datos al DF
                rDF.loc[contadorID] = [idAnterior,  midAnterior, label, verificado, fallosTotales, calibradosTotales]
                
                # Se reinician los contadores de fallos, calibrados y booleano de error
                fallosTotales = 0
                calibradosTotales = 0
                errorAntes = False
            # Se aumenta el contador en 1 para guardar correctamente los datos en el DF    
            contadorID = contadorID + 1
            # Se actualiza la ID del sensior
            midAnterior = mid
            
        # En caso de que las IDs de las bobinas no coincidan se obtienen los datos de la nueva bobina        
        if idAnterior != id:
            # Se obtiene el registro de la bobina evaluada
            registro = clasificados.loc[clasificados['SID']==id]
            # Se guardan su ID, valores max y min de ZN y su label
            idAnterior = registro['SID'].iloc[0]
            znMax = registro['ZnMax'].iloc[0]
            znMin = registro['ZnMin'].iloc[0]
            label = registro['CLASSLABEL'].iloc[0]
            # Se actualiza la ID de la nueva bobina
            idAnterior = id
            
        
        # Obtenemoss el ZN max y min que se ha medido en la teja
        datosMax = datos['MAX'][i]
        datosMin = datos['MIN'][i]
        # Obtenemos la ID de la teja a evaluar
        tileid = datos['TILEID'][i]            
        # Obtenemos el sensor que ha medido los datos
        mid = datos['MID'][i]
        # Obtenemos el valor medio de ZN en la teja
        mean = datos['MEAN'][i]
        
        # Evaluamos si cumple o no con los valores máximos y mínimos de ZN
        if (round(datosMax,1) > znMax or round(datosMin,1) < znMin) and (datosMax > 0 and datosMin > 0):
            # En caso de que en la anterior iteración no hubiera un error se aumenta el número de fallos,
            # en caso contrario no se actualiza ya que seguimos en el mismo fallo
            if errorAntes != True:
                fallosTotales = fallosTotales + 1
                errorAntes = True
        # En caso de que los valores sean 0 se actualzia el contador de calibrados
        elif datosMax == 0 and datosMin == 0:
            calibradosTotales = calibradosTotales + 1
            # Se cambia a False el error, ya que los calibrados no son errores
            errorAntes = False
        else:
            # Se cambia a False ya que la teja evaluada cumple con los requisitos
            errorAntes = False 
    
    # Una vez evaluadas todas las tejas se añaden los últimos valores obtenidos
    verificado = 'OK'    
    if fallosTotales > 0:
        verificado = 'NOK'
        rDF.loc[contadorID] = [id,  mid, label, verificado, fallosTotales, calibradosTotales]  
    
    # Se devuelve el DF generado
    return rDF

### Evaluación de datos

In [11]:
# Se analizan todos los datos 1D
aDF = analizador(unoD, clasif)
aDF

         COILID    MID CLASSLABEL VERIFIEDLABEL FAILURES CALIBRATED
0     225216688  123.0         OK           NOK        6          0
1     225216688  124.0         OK           NOK        4          0
2     225216688  201.0         OK           NOK        2          0
3     225216688  202.0         OK           NOK        2          0
4     225220725  123.0         OK           NOK        7          0
...         ...    ...        ...           ...      ...        ...
4635  233652453  202.0         OK           NOK        2          0
4636  233667056  123.0         OK           NOK        1          0
4637  233667056  124.0         OK           NOK        2          0
4638  233667056  201.0         OK           NOK        1          0
4639  233667056  202.0         OK           NOK        2          0

[4640 rows x 6 columns]

In [12]:
#Serialización del DF de los datos 1D
aDF.to_pickle("./serializados/unoD.pkl")

In [13]:
# Se muestran la evaluación de los primeros 60 registros de la bobina con ID 233667056
aDF.head(60)

       COILID    MID CLASSLABEL VERIFIEDLABEL FAILURES CALIBRATED
0   225216688  123.0         OK           NOK        6          0
1   225216688  124.0         OK           NOK        4          0
2   225216688  201.0         OK           NOK        2          0
3   225216688  202.0         OK           NOK        2          0
4   225220725  123.0         OK           NOK        7          0
5   225220725  124.0         OK           NOK        6          0
6   225220725  201.0         OK           NOK        1          0
7   225220725  202.0         OK           NOK        3          0
8   225221499  123.0         OK           NOK        7          0
9   225221499  124.0         OK           NOK        3          0
10  225221499  201.0         OK           NOK        2          0
11  225221499  202.0         OK           NOK        4          0
12  225225503  123.0         OK           NOK        9          0
13  225225503  124.0         OK           NOK        5          0
14  225225503  201.0         OK           NOK        2          0
15  225225503  202.0         OK           NOK        5          0
16  225233066  123.0         OK           NOK        6          0
17  225233066  124.0         OK           NOK        3          0
18  225233066  201.0         OK           NOK        6          0
19  225233066  202.0         OK           NOK        5          0
20  225254702  123.0         OK           NOK        2          0
21  225254702  124.0         OK           NOK        1          0
22  225254702  201.0         OK           NOK        1          0
23  225254702  202.0         OK           NOK        3          0
24  225255004  123.0         OK           NOK        2          0
25  225255004  124.0         OK            OK        0          0
26  225255004  201.0         OK           NOK        1          0
27  225255004  202.0         OK           NOK        1          0
28  225256681  123.0         OK           NOK        6          0
29  225256681  124.0         OK           NOK        1          0
30  225256681  201.0         OK           NOK        3          0
31  225256681  202.0         OK           NOK        2          0
32  225257124  123.0         OK           NOK        3          0
33  225257124  124.0         OK           NOK        9          0
34  225257124  201.0         OK           NOK        1          0
35  225257124  202.0         OK           NOK        5          0
36  225259861  123.0         OK           NOK        4          0
37  225259861  124.0         OK           NOK        5          0
38  225259861  201.0         OK           NOK        2          0
39  225259861  202.0         OK           NOK        4          0
40  225260560  123.0         OK           NOK        2          0
41  225260560  124.0         OK           NOK        2          0
42  225260560  201.0         OK           NOK        2          0
43  225260560  202.0         OK           NOK        3          0
44  225263458  123.0         OK           NOK        2          0
45  225263458  124.0         OK           NOK        5          0
46  225263458  201.0         OK           NOK        2          0
47  225263458  202.0         OK           NOK        2          0
48  225265720  123.0         OK           NOK        2          0
49  225265720  124.0         OK           NOK        1          1
50  225265720  201.0         OK           NOK        1          0
51  225265720  202.0         OK           NOK        2          0
52  225266532  123.0         OK           NOK        2          0
53  225266532  124.0         OK           NOK        5          0
54  225266532  201.0         OK           NOK        1          0
55  225266532  202.0         OK           NOK        3          0
56  225266966  123.0         OK           NOK       11          0
57  225266966  124.0         OK           NOK        6          0
58  225266966  201.0         OK           NOK        3          0
59  225266966  202.0         OK           NOK        4          0

### Número de calibrados

In [14]:
# Se muestra el número de calibrados que hay en el conjutno de datos
aDF.apply(lambda x: x['CALIBRATED'] > 0, axis=1).sum()

305

In [15]:
# Se muestran los calibrados
aDF[aDF['CALIBRATED']>0]

         COILID    MID CLASSLABEL VERIFIEDLABEL FAILURES CALIBRATED
49    225265720  124.0         OK           NOK        1          1
82    225305197  201.0         OK           NOK        3          8
83    225305197  202.0         OK           NOK        3          8
94    225326457  201.0        NOK           NOK        1         28
95    225326457  202.0        NOK           NOK        2         28
...         ...    ...        ...           ...      ...        ...
4603  233635312  202.0         OK           NOK        3          9
4606  233636547  201.0         OK           NOK        7         11
4607  233636547  202.0         OK           NOK        3         11
4610  233642421  201.0         OK           NOK        2          7
4611  233642421  202.0         OK           NOK        2          6

[305 rows x 6 columns]

### Estádisticas de los Expertos y de la Función creada

In [16]:
# Se muestran las estadísticas obtenidos por parte de los expertos y por la función generada
print("Los valores de los expertos han sido:\n",aDF['CLASSLABEL'].value_counts())
print("\nLos valores que se han obtenido son:\n",aDF['VERIFIEDLABEL'].value_counts().sort_values())

Los valores de los expertos han sido:
 OK     3340
NOK    1300
Name: CLASSLABEL, dtype: int64

Los valores que se han obtenido son:
 OK       98
NOK    4542
Name: VERIFIEDLABEL, dtype: int64

# Imágenes 2D

In [17]:
# Se cargan los datos 2D
q07 = "SELECT * FROM GR_QPValues"
dosD = pd.read_sql(q07,cnx)
dosD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,227501982,123817.0,1243.0,1066.0,T,126.82590,126.82590,126.82590,1.0
1,227501982,123817.0,1234.0,1066.0,T,184.95621,184.95621,184.95621,1.0
2,227501982,125353.0,1243.0,1066.0,T,125.99920,125.99920,125.99920,1.0
3,227501982,125353.0,1234.0,1066.0,T,183.72990,183.72990,183.72990,1.0
4,227501982,126889.0,1243.0,1066.0,T,134.66490,134.66490,134.66490,1.0
...,...,...,...,...,...,...,...,...,...
1272307,231628391,56.0,1243.0,1066.0,T,299.99670,299.99670,299.99670,1.0
1272308,231628391,1592.0,1243.0,1066.0,T,299.99670,299.99670,299.99670,1.0
1272309,231628391,3384.0,1243.0,1066.0,T,299.08820,299.08820,299.08820,1.0
1272310,231628391,5176.0,1243.0,1066.0,T,290.91199,290.91199,290.91199,1.0
1272311,231628391,6968.0,1243.0,1066.0,T,282.36630,282.36630,282.36630,1.0

In [18]:
# Se ordenan los datos para ser usados
dosD = dosD.sort_values(['COILID', 'MID', 'TILEID']).reset_index(drop=True)
dosD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,225216688,0.0,1234.0,1066.0,T,147.09500,147.09500,147.09500,1.0
1,225216688,28.0,1234.0,1066.0,T,143.53551,143.53551,143.53551,1.0
2,225216688,56.0,1234.0,1066.0,T,132.94450,132.94450,132.94450,1.0
3,225216688,85.0,1234.0,1066.0,T,141.23540,141.23540,141.23540,1.0
4,225216688,113.0,1234.0,1066.0,T,143.35880,143.35880,143.35880,1.0
...,...,...,...,...,...,...,...,...,...
1272307,233667056,130929.0,1243.0,1066.0,T,46.29932,46.29932,46.29932,1.0
1272308,233667056,130958.0,1243.0,1066.0,T,45.68384,45.68384,45.68384,1.0
1272309,233667056,130986.0,1243.0,1066.0,T,44.40857,44.40857,44.40857,1.0
1272310,233667056,131015.0,1243.0,1066.0,T,44.03534,44.03534,44.03534,1.0
1272311,233667056,131043.0,1243.0,1066.0,T,52.01275,52.01275,52.01275,1.0

In [24]:
# Se analzan los datos 2D y se muestran los 4 primeros resultados
aDF2 = analizador(dosD, clasif)
aDF2.head(4)

      COILID     MID CLASSLABEL VERIFIEDLABEL FAILURES CALIBRATED
0  225216688  1234.0         OK           NOK       68          0
1  225216688  1243.0         OK           NOK      102          0
2  225220725  1234.0         OK           NOK      135          0
3  225220725  1243.0         OK           NOK      102          0

In [25]:
# Se cierra la conexión con la base de datos
cnx.close()