# TFM
### Ismael Franco Hernando

# Imports

In [1]:
import sys, os, cv2, glob, pickle
import scipy.ndimage
import plotly.express as px
import numpy as np
import pandas as pd
from skimage import io
import seaborn as sns
import scipy as sp
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from PIL import Image
from statistics import mean
import matplotlib.image
import matplotlib.pyplot
from tqdm import tqdm
from mysql.connector import (connection)
from jupyter_plotly_dash import JupyterDash
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

# Conexión y pruebas en la base de datos

Nos conectamos a la base de datos a través del usuario, contraseña, host y nombre de la base de datos. En caso de que haya algún problema devolverá un error.

In [2]:
try:
    cnx = connection.MySQLConnection(user='leer', 
                                     password='candanal',
                                     host='138.100.82.178',
                                     database='deepquality')

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Usuario o contraseña incorrecto")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe")
    else:
        print(err)

In [3]:
# Contamos el número de registros que hay en la tbala correspondiente a las imágenes 1D
q01 = "SELECT count(*) FROM GR_LPValues"
r01 = pd.read_sql(q01,cnx)
r01

   count(*)
0    115972

In [4]:
# Contamos el número de registros que hay en la tbala correspondiente a las imágenes 2D
q02 = "SELECT count(*) FROM GR_QPValues"
r02 = pd.read_sql(q02,cnx)
r02

   count(*)
0   1272312

In [5]:
# Contamos el número de sensores que se usan para tomar los datos
q03 = "SELECT count(*) FROM Gauges"
r03 = pd.read_sql(q03,cnx)
r03

   count(*)
0         6

In [6]:
# Contamos el número de bobinas que se han evaluado
q04 = "SELECT count(*) FROM V_Coils"
r04 = pd.read_sql(q04,cnx)
r04

   count(*)
0      1160

# Bobinas clasificadas

In [3]:
# Guardamos y mostramos las bobinas clasificadas
q05 = "SELECT * FROM V_Coils"
clasif = pd.read_sql(q05,cnx)
clasif

,id,SID,PLANT,NAME,STARTTIME,MATERIAL,LENGTH,WIDTH,THICK,WEIGHT,BASEPID,CLASSLABEL,Label,ZnMin,ZnMax
0,1161,226031456,1066.0,226031456,2022-01-28,0.0,792.0,1183.0,3.0,22.0,220100.0,NOK,0,60,80
1,1162,226101621,1066.0,226101621,2022-01-31,0.0,273.0,1252.0,4.0,10.0,220100.0,NOK,2,215,258
2,1163,226120037,1066.0,226120037,2022-01-31,0.0,599.0,1305.0,2.0,15.0,220100.0,OK,1,155,175
3,1164,225387481,1066.0,225387481,2022-01-13,0.0,268.0,1502.0,5.0,15.0,220100.0,OK,1,60,80
4,1165,225406471,1066.0,225406471,2022-01-13,0.0,735.0,1158.0,2.0,19.0,220100.0,NOK,0,45,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155,2316,233642421,1066.0,233642421,2022-08-31,0.0,576.0,1422.0,3.0,24.0,220800.0,OK,2,138,158
1156,2317,233445180,1066.0,233445180,2022-08-25,0.0,513.0,1437.0,4.0,23.0,220800.0,OK,1,125,145
1157,2318,232624927,1066.0,232624927,2022-08-01,0.0,345.0,1482.0,2.0,11.0,220800.0,OK,2,155,175
1158,2319,232635130,1066.0,232635130,2022-08-01,0.0,457.0,968.0,3.0,11.0,220800.0,OK,1,88,108
1159,2320,232638581,1066.0,232638581,2022-08-01,0.0,542.0,1047.0,5.0,22.0,220800.0,OK,1,60,80

# Imágenes 1D

In [4]:
# Guardamos y mostramos los valores correspondientes a las imágenes 1D
q06 = "SELECT * FROM GR_LPValues"
unoD = pd.read_sql(q06,cnx)
unoD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,228318255,116480.0,124.0,1066.0,T,143.32179,143.32179,143.32179,1.0
1,228318255,116480.0,201.0,1066.0,T,145.10339,145.10339,145.10339,1.0
2,228318255,116480.0,202.0,1066.0,T,138.98370,138.98370,138.98370,1.0
3,228318255,116480.0,123.0,1066.0,T,145.78580,145.78580,145.78580,1.0
4,228318255,119040.0,124.0,1066.0,T,148.77290,148.77290,148.77290,1.0
...,...,...,...,...,...,...,...,...,...
115967,232800547,0.0,123.0,1066.0,T,207.00020,207.00020,207.00020,1.0
115968,232800547,5120.0,124.0,1066.0,T,89.30820,89.30820,89.30820,1.0
115969,232800547,5120.0,201.0,1066.0,T,248.35600,248.35600,248.35600,1.0
115970,232800547,5120.0,202.0,1066.0,T,76.74000,76.74000,76.74000,1.0
115971,232800547,5120.0,123.0,1066.0,T,179.34650,179.34650,179.34650,1.0

In [21]:
# Ordenamos el DF a través de la 1D de la bobina y de las diferentes tejas que tiene
unoD = unoD.sort_values(['COILID', 'MID', 'TILEID']).reset_index(drop=True)
unoD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,225216688,0.0,123.0,1066.0,T,88.94490,88.94490,88.94490,1.0
1,225216688,5120.0,123.0,1066.0,T,81.65457,81.65457,81.65457,1.0
2,225216688,10240.0,123.0,1066.0,T,94.79793,94.79793,94.79793,1.0
3,225216688,15360.0,123.0,1066.0,T,127.82180,127.82180,127.82180,1.0
4,225216688,20480.0,123.0,1066.0,T,125.88000,125.88000,125.88000,1.0
...,...,...,...,...,...,...,...,...,...
115967,233667056,109056.0,202.0,1066.0,T,51.92412,51.92412,51.92412,1.0
115968,233667056,114176.0,202.0,1066.0,T,52.02400,52.02400,52.02400,1.0
115969,233667056,119552.0,202.0,1066.0,T,48.61295,48.61295,48.61295,1.0
115970,233667056,124672.0,202.0,1066.0,T,42.18800,42.18800,42.18800,1.0
115971,233667056,129792.0,202.0,1066.0,T,43.21667,43.21667,43.21667,1.0

In [9]:
"""
# Función que recibe un DF de datos sin clasificar y el DF con las bobinas clasificadas. Evaluará teja a teja 
# y devolverá el número de fallos totales en la bobina, además a cada teja le colocará una label según si se 
# encuentra en correscto estado, OK, y otra en caso contrario, NOK.
def analizador(datos, clasificados):
    # Creamos el DF que se devolverá con las diferentes columnas
    rDF = pd.DataFrame(columns = ['COILID' , 'TILEID', 'MID', 'MEAN' , 'ZnMax', 'ZnMin', 
                                  'datosMax', 'datosMin', 'CLASSLABEL', 'LabelVerificada', 'Fallos'])
    
    # Inicializamos los parámetros con los que se trabajará a lo largo de la función
    sid = -1 # Contiene la ID de la bobina evaluada
    znMax = -1 # Valor máximo de ZN aceptado en la bobina
    znMin = -1 # Valor mínimo de ZN aceptado en la bobina
    label = 'null' # Contendrá la label según si cumple o no los requisitos
    fallosTotales = 0 # Contiene el número de fallos totales en una bobina
    fallosAntes = 0 # Contiene el número de fallos totales en una bobina en la anterior iteración
    tileidAnterior = -1 # Contiene la teja evaluada en la anterior iteraccioón
    
    # Se recorren todas las tejas de todas las bobinas para evaluarlas
    for i in range(len(datos)):
        #Obtenemos la ID de la bobina a la que pertenece la teja a evalaur
        id = datos['COILID'][i]
        
        # En caso de que la ID sea de una nueva bobina se cargan los nuevos datos
        if sid != id:
            # Se reinician los contadores de fallos
            fallosTotales = 0
            fallosAntes = 0
            # Se obtiene el registro de la bobina evaluada
            registro = clasificados.loc[clasificados['SID']==id]
            # Se guardan su ID, valores max y min de ZN y su label
            sid = registro['SID'].iloc[0]
            znMax = registro['ZnMax'].iloc[0]
            znMin = registro['ZnMin'].iloc[0]
            label = registro['CLASSLABEL'].iloc[0]
        
        # Obtenemoss el ZN max y min que se ha medido en la teja
        datosMax = datos['MAX'][i]
        datosMin = datos['MIN'][i]
        # Obtenemos la ID de la teja a evaluar
        tileid = datos['TILEID'][i]
        # En caso de que sea una teja distinta a la anterior iteracción, se coloca a Falso el 
        # haber encontrado un error 
        if tileid != tileidAnterior:
            errorEncontrado = False
            
        # Obtenemos el sensor que ha medido los datos
        mid = datos['MID'][i]
        # Obtenemos el valor medio de ZN en la teja
        mean = datos['MEAN'][i]
        
        # Evaluamos si cumple o no con los valores máximos y mínimos de ZN. Además, no se tiene en cuenta
        # el reinicio del medidor del sensor donde los valores de ZN valen 0
        verificado = 'OK'
        if (round(datosMax,1) > znMax or round(datosMin,1) < znMin) and (datosMax > 0 and datosMin > 0):
            # En caso de no cumplir con los requisitos se le evalua como NOK
            verificado = 'NOK'
            # Si en la teja evaluada anteriormente ya había un error no se aumenta el contador,
            # en caso contrario si que se actualzia
            if errorEncontrado == False:
                fallosTotales = fallosTotales + 1
                errorEncontrado = True
        
        # Añadimos al DF a devolver los valores tras su evaluación
        rDF.loc[i] = [id, tileid, mid, mean, znMax, znMin, datosMax, datosMin, label, verificado, fallosTotales]
        
        # Si al evaluar la teja se encuentra un fallo se actualizan los errores de la bobina en el DF
        if fallosTotales > fallosAntes:
            fallosAntes = fallosTotales
            rDF.loc[rDF.COILID==id, 'Fallos'] = fallosTotales
        
        # Se almacena la ID de la teja anterior
        tileidAnterior = tileid 
    
    # Se devuelve el DF con todas las bobinas y tejas evaluadas
    return rDF
 """

In [38]:
def analizador(datos, clasificados):
    # Creamos el DF que se devolverá con las diferentes columnas
    rDF = pd.DataFrame(columns = ['COILID' , 'MID', 'CLASSLABEL', 'VERIFIEDLABEL', 'FAILURES', 'CALIBRATED'])
    
    # Inicializamos los parámetros con los que se trabajará a lo largo de la función
    errorAntes = False # Será False en caso de que en la anterior iteración no hubiera ningún error,
                        # y True en caso contrario
    midAnterior = -1 # Contiene el ID del sensor de la anterior iteración 
    idAnterior = -1 # Contiene la ID de la bobina de la anterior iteración
    calibradosTotales = 0 # Contador de calibrados
    fallosTotales = 0 # Contador de fallos
    contadorID = -1 # Contador para añadir los registros por orden en pandas
    
    # Se recorren todas las tejas de todas las bobinas para evaluarlas
    for i in range(len(datos)):
        # ID de la bobina
        id = datos['COILID'][i]
        # ID del sensor que ha medido los datos
        mid = datos['MID'][i]
        
        # Comparamos las ID de los sensores y en caso de ser diferentes es que hemos pasado a analizar
        # los datos de otro sensor, por lo que se pueden guardar los datos evaluado del anterior sensor
        if mid != midAnterior:
            # Este contador permite no guardar datos en la primera iteración.
            if contadorID >= 0:
                # Ponemos por defecto label a OK y en caso de que haya un fallo o mas se cambia a NOK
                verificado = 'OK'
                if fallosTotales > 0:
                    verificado = 'NOK'
                # Se añaden los datos al DF
                rDF.loc[contadorID] = [idAnterior,  midAnterior, label, verificado, fallosTotales, calibradosTotales]
                
                # Se reinician los contadores de fallos, calibrados y booleano de error
                fallosTotales = 0
                calibradosTotales = 0
                errorAntes = False
            # Se aumenta el contador en 1 para guardar correctamente los datos en el DF    
            contadorID = contadorID + 1
            # Se actualiza la ID del sensior
            midAnterior = mid
            
        # En caso de que las IDs de las bobinas no coincidan se obtienen los datos de la nueva bobina        
        if idAnterior != id:
            # Se obtiene el registro de la bobina evaluada
            registro = clasificados.loc[clasificados['SID']==id]
            # Se guardan su ID, valores max y min de ZN y su label
            idAnterior = registro['SID'].iloc[0]
            znMax = registro['ZnMax'].iloc[0]
            znMin = registro['ZnMin'].iloc[0]
            label = registro['CLASSLABEL'].iloc[0]
            # Se actualiza la ID de la nueva bobina
            idAnterior = id
            
        
        # Obtenemoss el ZN max y min que se ha medido en la teja
        datosMax = datos['MAX'][i]
        datosMin = datos['MIN'][i]
        # Obtenemos la ID de la teja a evaluar
        tileid = datos['TILEID'][i]            
        # Obtenemos el sensor que ha medido los datos
        mid = datos['MID'][i]
        # Obtenemos el valor medio de ZN en la teja
        mean = datos['MEAN'][i]
        
        # Evaluamos si cumple o no con los valores máximos y mínimos de ZN
        if (round(datosMax,1) > znMax or round(datosMin,1) < znMin) and (datosMax > 0 and datosMin > 0):
            # En caso de que en la anterior iteración no hubiera un error se aumenta el número de fallos,
            # en caso contrario no se actualiza ya que seguimos en el mismo fallo
            if errorAntes != True:
                fallosTotales = fallosTotales + 1
                errorAntes = True
        # En caso de que los valores sean 0 se actualzia el contador de calibrados
        elif datosMax == 0 and datosMin == 0:
            calibradosTotales = calibradosTotales + 1
            # Se cambia a False el error, ya que los calibrados no son errores
            errorAntes = False
        else:
            # Se cambia a False ya que la teja evaluada cumple con los requisitos
            errorAntes = False 
    
    # Una vez evaluadas todas las tejas se añaden los últimos valores obtenidos
    verificado = 'OK'    
    if fallosTotales > 0:
        verificado = 'NOK'
        rDF.loc[contadorID] = [id,  mid, label, verificado, fallosTotales, calibradosTotales]  
    
    # Se devuelve el DF generado
    return rDF

### Evaluación de datos

In [39]:
# Se analizan todos los datos 1D
aDF = analizador(unoD, clasif)
aDF

         COILID    MID CLASSLABEL VERIFIEDLABEL FAILURES CALIBRATED
0     225216688  123.0         OK           NOK        6          0
1     225216688  124.0         OK           NOK        4          0
2     225216688  201.0         OK           NOK        2          0
3     225216688  202.0         OK           NOK        2          0
4     225220725  123.0         OK           NOK        7          0
...         ...    ...        ...           ...      ...        ...
4635  233652453  202.0         OK           NOK        2          0
4636  233667056  123.0         OK           NOK        1          0
4637  233667056  124.0         OK           NOK        2          0
4638  233667056  201.0         OK           NOK        1          0
4639  233667056  202.0         OK           NOK        2          0

[4640 rows x 6 columns]

In [35]:
#Serialización del DF de los datos 1D
aDF.to_pickle("./serializados/unoD.pkl")

In [36]:
# Se muestran la evaluación de los primeros 60 registros de la bobina con ID 233667056
aDF.head(60)

       COILID    MID CLASSLABEL VERIFIEDLABEL FAILURES CALIBRATED
0   225216688  123.0         OK           NOK        6          0
1   225216688  124.0         OK           NOK        4          0
2   225216688  201.0         OK           NOK        2          0
3   225216688  202.0         OK           NOK        2          0
4   225220725  123.0         OK           NOK        7          0
5   225220725  124.0         OK           NOK        6          0
6   225220725  201.0         OK           NOK        1          0
7   225220725  202.0         OK           NOK        3          0
8   225221499  123.0         OK           NOK        7          0
9   225221499  124.0         OK           NOK        3          0
10  225221499  201.0         OK           NOK        2          0
11  225221499  202.0         OK           NOK        4          0
12  225225503  123.0         OK           NOK        9          0
13  225225503  124.0         OK           NOK        5          0
14  225225503  201.0         OK           NOK        2          0
15  225225503  202.0         OK           NOK        5          0
16  225233066  123.0         OK           NOK        6          0
17  225233066  124.0         OK           NOK        3          0
18  225233066  201.0         OK           NOK        6          0
19  225233066  202.0         OK           NOK        5          0
20  225254702  123.0         OK           NOK        2          0
21  225254702  124.0         OK           NOK        1          0
22  225254702  201.0         OK           NOK        1          0
23  225254702  202.0         OK           NOK        3          0
24  225255004  123.0         OK           NOK        2          0
25  225255004  124.0         OK            OK        0          0
26  225255004  201.0         OK           NOK        1          0
27  225255004  202.0         OK           NOK        1          0
28  225256681  123.0         OK           NOK        6          0
29  225256681  124.0         OK           NOK        1          0
30  225256681  201.0         OK           NOK        3          0
31  225256681  202.0         OK           NOK        2          0
32  225257124  123.0         OK           NOK        3          0
33  225257124  124.0         OK           NOK        9          0
34  225257124  201.0         OK           NOK        1          0
35  225257124  202.0         OK           NOK        5          0
36  225259861  123.0         OK           NOK        4          0
37  225259861  124.0         OK           NOK        5          0
38  225259861  201.0         OK           NOK        2          0
39  225259861  202.0         OK           NOK        4          0
40  225260560  123.0         OK           NOK        2          0
41  225260560  124.0         OK           NOK        2          0
42  225260560  201.0         OK           NOK        2          0
43  225260560  202.0         OK           NOK        3          0
44  225263458  123.0         OK           NOK        2          0
45  225263458  124.0         OK           NOK        5          0
46  225263458  201.0         OK           NOK        2          0
47  225263458  202.0         OK           NOK        2          0
48  225265720  123.0         OK           NOK        2          0
49  225265720  124.0         OK           NOK        1          1
50  225265720  201.0         OK           NOK        1          0
51  225265720  202.0         OK           NOK        2          0
52  225266532  123.0         OK           NOK        2          0
53  225266532  124.0         OK           NOK        5          0
54  225266532  201.0         OK           NOK        1          0
55  225266532  202.0         OK           NOK        3          0
56  225266966  123.0         OK           NOK       11          0
57  225266966  124.0         OK           NOK        6          0
58  225266966  201.0         OK           NOK        3          0
59  225266966  202.0         OK           NOK        4          0

### Número de calibrados

In [33]:
# Se muestra el número de calibrados que hay en el conjutno de datos
aDF.apply(lambda x: x['CALIBRATED'] > 0, axis=1).sum()

305

In [34]:
# Se muestran los calibrados
aDF[aDF['CALIBRATED']>0]

         COILID    MID CLASSLABEL VERIFIEDLABEL FAILURES CALIBRATED
49    225265720  124.0         OK           NOK        1          1
82    225305197  201.0         OK           NOK        3          8
83    225305197  202.0         OK           NOK        3          8
94    225326457  201.0        NOK           NOK        1         28
95    225326457  202.0        NOK           NOK        2         28
...         ...    ...        ...           ...      ...        ...
4603  233635312  202.0         OK           NOK        3          9
4606  233636547  201.0         OK           NOK        7         11
4607  233636547  202.0         OK           NOK        3         11
4610  233642421  201.0         OK           NOK        2          7
4611  233642421  202.0         OK           NOK        2          6

[305 rows x 6 columns]

### Estádisticas de los Expertos y de la Función creada

In [35]:
# Se muestran las estadísticas obtenidos por parte de los expertos y por la función generada
print("Los valores de los expertos han sido:\n",aDF['CLASSLABEL'].value_counts())
print("\nLos valores que se han obtenido son:\n",aDF['VERIFIEDLABEL'].value_counts().sort_values())

Los valores de los expertos han sido:
 OK     3340
NOK    1300
Name: CLASSLABEL, dtype: int64

Los valores que se han obtenido son:
 OK       98
NOK    4542
Name: VERIFIEDLABEL, dtype: int64

# Imágenes 2D

In [46]:
q07 = "SELECT * FROM GR_QPValues"
dosD = pd.read_sql(q07,cnx)
dosD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,227501982,123817.0,1243.0,1066.0,T,126.82590,126.82590,126.82590,1.0
1,227501982,123817.0,1234.0,1066.0,T,184.95621,184.95621,184.95621,1.0
2,227501982,125353.0,1243.0,1066.0,T,125.99920,125.99920,125.99920,1.0
3,227501982,125353.0,1234.0,1066.0,T,183.72990,183.72990,183.72990,1.0
4,227501982,126889.0,1243.0,1066.0,T,134.66490,134.66490,134.66490,1.0
...,...,...,...,...,...,...,...,...,...
1272307,231628391,56.0,1243.0,1066.0,T,299.99670,299.99670,299.99670,1.0
1272308,231628391,1592.0,1243.0,1066.0,T,299.99670,299.99670,299.99670,1.0
1272309,231628391,3384.0,1243.0,1066.0,T,299.08820,299.08820,299.08820,1.0
1272310,231628391,5176.0,1243.0,1066.0,T,290.91199,290.91199,290.91199,1.0
1272311,231628391,6968.0,1243.0,1066.0,T,282.36630,282.36630,282.36630,1.0

In [48]:
dosD = dosD.sort_values(['COILID', 'TILEID']).reset_index(drop=True)
dosD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,225216688,0.0,1243.0,1066.0,T,139.32570,139.32570,139.32570,1.0
1,225216688,0.0,1234.0,1066.0,T,147.09500,147.09500,147.09500,1.0
2,225216688,28.0,1243.0,1066.0,T,138.24091,138.24091,138.24091,1.0
3,225216688,28.0,1234.0,1066.0,T,143.53551,143.53551,143.53551,1.0
4,225216688,56.0,1243.0,1066.0,T,137.70560,137.70560,137.70560,1.0
...,...,...,...,...,...,...,...,...,...
1272307,233667056,130986.0,1243.0,1066.0,T,44.40857,44.40857,44.40857,1.0
1272308,233667056,131015.0,1234.0,1066.0,T,63.27512,63.27512,63.27512,1.0
1272309,233667056,131015.0,1243.0,1066.0,T,44.03534,44.03534,44.03534,1.0
1272310,233667056,131043.0,1243.0,1066.0,T,52.01275,52.01275,52.01275,1.0
1272311,233667056,131043.0,1234.0,1066.0,T,57.49929,57.49929,57.49929,1.0

In [63]:
aDF2 = analizador(dosD, clasif)
aDF2

,COILID,TILEID,MID,MEAN,ZnMax,ZnMin,datosMax,datosMin,CLASSLABEL,LabelVerificada,Fallos
1,227501982,123817.0,1234.0,184.95621,175,155,184.95621,184.95621,OK,NOK,5
3,227501982,125353.0,1234.0,183.72990,175,155,183.72990,183.72990,OK,NOK,5
0,227501982,123817.0,1243.0,126.82590,175,155,126.82590,126.82590,OK,NOK,5
2,227501982,125353.0,1243.0,125.99920,175,155,125.99920,125.99920,OK,NOK,5
4,227501982,126889.0,1243.0,134.66490,175,155,134.66490,134.66490,OK,NOK,5
18,227522012,115541.0,1234.0,76.45282,80,60,76.45282,76.45282,OK,OK,26
36,227522012,115598.0,1234.0,71.38795,80,60,71.38795,71.38795,OK,OK,26
20,227522012,117333.0,1234.0,78.13152,80,60,78.13152,78.13152,OK,OK,26
34,227522012,117390.0,1234.0,71.59948,80,60,71.59948,71.59948,OK,OK,26
6,227522012,119352.0,1234.0,80.72434,80,60,80.72434,80.72434,OK,NOK,26
32,227522012,119438.0,1234.0,71.17624,80,60,71.17624,71.17624,OK,OK,26
8,227522012,121400.0,1234.0,80.59776,80,60,80.59776,80.59776,OK,NOK,26
30,227522012,121486.0,1234.0,70.89400,80,60,70.89400,70.89400,OK,OK,26
10,227522012,123448.0,1234.0,81.99892,80,60,81.99892,81.99892,OK,NOK,26
44,227522012,123505.0,1234.0,77.62621,80,60,77.62621,77.62621,OK,OK,26
28,227522012,123534.0,1234.0,70.67202,80,60,70.67202,70.67202,OK,OK,26
12,227522012,125496.0,1234.0,82.15461,80,60,82.15461,82.15461,OK,NOK,26
42,227522012,125553.0,1234.0,77.83544,80,60,77.83544,77.83544,OK,OK,26
26,227522012,125582.0,1234.0,70.45004,80,60,70.45004,70.45004,OK,OK,26
14,227522012,127544.0,1234.0,82.15461,80,60,82.15461,82.15461,OK,NOK,26
40,227522012,127601.0,1234.0,77.83544,80,60,77.83544,77.83544,OK,OK,26
24,227522012,127630.0,1234.0,70.45004,80,60,70.45004,70.45004,OK,OK,26
16,227522012,129592.0,1234.0,82.15461,80,60,82.15461,82.15461,OK,NOK,26
38,227522012,129649.0,1234.0,77.83544,80,60,77.83544,77.83544,OK,OK,26
22,227522012,129678.0,1234.0,70.45004,80,60,70.45004,70.45004,OK,OK,26
17,227522012,115541.0,1243.0,51.51270,80,60,51.51270,51.51270,OK,NOK,26
37,227522012,115598.0,1243.0,56.53923,80,60,56.53923,56.53923,OK,NOK,26
21,227522012,115626.0,1243.0,63.85508,80,60,63.85508,63.85508,OK,OK,26
19,227522012,117333.0,1243.0,50.12653,80,60,50.12653,50.12653,OK,NOK,26
35,227522012,117390.0,1243.0,55.43469,80,60,55.43469,55.43469,OK,NOK,26
5,227522012,119352.0,1243.0,49.90513,80,60,49.90513,49.90513,OK,NOK,26
33,227522012,119438.0,1243.0,54.90202,80,60,54.90202,54.90202,OK,NOK,26
7,227522012,121400.0,1243.0,48.38867,80,60,48.38867,48.38867,OK,NOK,26
31,227522012,121486.0,1243.0,54.51720,80,60,54.51720,54.51720,OK,NOK,26
9,227522012,123448.0,1243.0,48.81718,80,60,48.81718,48.81718,OK,NOK,26
45,227522012,123505.0,1243.0,51.06810,80,60,51.06810,51.06810,OK,NOK,26
29,227522012,123534.0,1243.0,55.43070,80,60,55.43070,55.43070,OK,NOK,26
11,227522012,125496.0,1243.0,49.16330,80,60,49.16330,49.16330,OK,NOK,26
43,227522012,125553.0,1243.0,51.73679,80,60,51.73679,51.73679,OK,NOK,26
27,227522012,125582.0,1243.0,56.80095,80,60,56.80095,56.80095,OK,NOK,26
13,227522012,127544.0,1243.0,49.16330,80,60,49.16330,49.16330,OK,NOK,26
41,227522012,127601.0,1243.0,51.73679,80,60,51.73679,51.73679,OK,NOK,26
25,227522012,127630.0,1243.0,56.80095,80,60,56.80095,56.80095,OK,NOK,26
15,227522012,129592.0,1243.0,49.16330,80,60,49.16330,49.16330,OK,NOK,26
39,227522012,129649.0,1243.0,51.73679,80,60,51.73679,51.73679,OK,NOK,26
23,227522012,129678.0,1243.0,56.80095,80,60,56.80095,56.80095,OK,NOK,26
47,227524294,118272.0,1234.0,143.63330,175,155,143.63330,143.63330,NOK,NOK,10
53,227524294,118300.0,1234.0,149.15210,175,155,149.15210,149.15210,NOK,NOK,10
59,227524294,118328.0,1234.0,159.00121,175,155,159.00121,159.00121,NOK,OK,10
49,227524294,122624.0,1234.0,143.95340,175,155,143.95340,143.95340,NOK,NOK,10
55,227524294,122652.0,1234.0,153.57430,175,155,153.57430,153.57430,NOK,NOK,10
51,227524294,126976.0,1234.0,143.95340,175,155,143.95340,143.95340,NOK,NOK,10
57,227524294,127004.0,1234.0,153.43970,175,155,153.43970,153.43970,NOK,NOK,10
46,227524294,118272.0,1243.0,161.73759,175,155,161.73759,161.73759,NOK,OK,10
52,227524294,118300.0,1243.0,150.81450,175,155,150.81450,150.81450,NOK,NOK,10
58,227524294,118328.0,1243.0,145.68860,175,155,145.68860,145.68860,NOK,NOK,10
48,227524294,122624.0,1243.0,166.80260,175,155,166.80260,166.80260,NOK,OK,10
54,227524294,122652.0,1243.0,147.02130,175,155,147.02130,147.02130,NOK,NOK,10
50,227524294,126976.0,1243.0,166.80260,175,155,166.80260,166.80260,NOK,OK,10
56,227524294,127004.0,1243.0,147.02130,175,155,147.02130,147.02130,NOK,NOK,10