# TFM - Obtención de Features y Codificación del Mapa
### Ismael Franco Hernando

#### Imports

In [1]:
from mysql.connector import (connection)
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import pymysql

#### Conexión a la base de datos

In [2]:
try:
    cnx = connection.MySQLConnection(user='leer', 
                                     password='candanal',
                                     host='138.100.82.178',
                                     database='deepquality')

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Usuario o contraseña incorrecto")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe")
    else:
        print(err)

#### Carga de las bobinas clasificadas

In [3]:
# Guardamos y mostramos las bobinas clasificadas
q01 = "SELECT * FROM V_Coils"
clasif = pd.read_sql(q01,cnx)
clasif

,id,SID,PLANT,NAME,STARTTIME,MATERIAL,LENGTH,WIDTH,THICK,WEIGHT,BASEPID,CLASSLABEL,Label,ZnMin,ZnMax
0,1161,226031456,1066.0,226031456,2022-01-28,0.0,792.0,1183.0,3.0,22.0,220100.0,NOK,0,60,80
1,1162,226101621,1066.0,226101621,2022-01-31,0.0,273.0,1252.0,4.0,10.0,220100.0,NOK,2,215,258
2,1163,226120037,1066.0,226120037,2022-01-31,0.0,599.0,1305.0,2.0,15.0,220100.0,OK,1,155,175
3,1164,225387481,1066.0,225387481,2022-01-13,0.0,268.0,1502.0,5.0,15.0,220100.0,OK,1,60,80
4,1165,225406471,1066.0,225406471,2022-01-13,0.0,735.0,1158.0,2.0,19.0,220100.0,NOK,0,45,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155,2316,233642421,1066.0,233642421,2022-08-31,0.0,576.0,1422.0,3.0,24.0,220800.0,OK,2,138,158
1156,2317,233445180,1066.0,233445180,2022-08-25,0.0,513.0,1437.0,4.0,23.0,220800.0,OK,1,125,145
1157,2318,232624927,1066.0,232624927,2022-08-01,0.0,345.0,1482.0,2.0,11.0,220800.0,OK,2,155,175
1158,2319,232635130,1066.0,232635130,2022-08-01,0.0,457.0,968.0,3.0,11.0,220800.0,OK,1,88,108
1159,2320,232638581,1066.0,232638581,2022-08-01,0.0,542.0,1047.0,5.0,22.0,220800.0,OK,1,60,80

#### Carga de los datos correspondientes a las imágenes 1D

In [4]:
# Guardamos y mostramos los valores correspondientes a las imágenes 1D
q02 = "SELECT * FROM GR_LPValues"
unoD = pd.read_sql(q02,cnx)
unoD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,228318255,116480.0,124.0,1066.0,T,143.32179,143.32179,143.32179,1.0
1,228318255,116480.0,201.0,1066.0,T,145.10339,145.10339,145.10339,1.0
2,228318255,116480.0,202.0,1066.0,T,138.98370,138.98370,138.98370,1.0
3,228318255,116480.0,123.0,1066.0,T,145.78580,145.78580,145.78580,1.0
4,228318255,119040.0,124.0,1066.0,T,148.77290,148.77290,148.77290,1.0
...,...,...,...,...,...,...,...,...,...
115967,232800547,0.0,123.0,1066.0,T,207.00020,207.00020,207.00020,1.0
115968,232800547,5120.0,124.0,1066.0,T,89.30820,89.30820,89.30820,1.0
115969,232800547,5120.0,201.0,1066.0,T,248.35600,248.35600,248.35600,1.0
115970,232800547,5120.0,202.0,1066.0,T,76.74000,76.74000,76.74000,1.0
115971,232800547,5120.0,123.0,1066.0,T,179.34650,179.34650,179.34650,1.0

In [5]:
# Ordenamos el DF a través de la ID de la bobina, el número de teja y el número de sensor
unoD = unoD.sort_values(['COILID', 'MID', 'TILEID']).reset_index(drop=True)
unoD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,225216688,0.0,123.0,1066.0,T,88.94490,88.94490,88.94490,1.0
1,225216688,5120.0,123.0,1066.0,T,81.65457,81.65457,81.65457,1.0
2,225216688,10240.0,123.0,1066.0,T,94.79793,94.79793,94.79793,1.0
3,225216688,15360.0,123.0,1066.0,T,127.82180,127.82180,127.82180,1.0
4,225216688,20480.0,123.0,1066.0,T,125.88000,125.88000,125.88000,1.0
...,...,...,...,...,...,...,...,...,...
115967,233667056,109056.0,202.0,1066.0,T,51.92412,51.92412,51.92412,1.0
115968,233667056,114176.0,202.0,1066.0,T,52.02400,52.02400,52.02400,1.0
115969,233667056,119552.0,202.0,1066.0,T,48.61295,48.61295,48.61295,1.0
115970,233667056,124672.0,202.0,1066.0,T,42.18800,42.18800,42.18800,1.0
115971,233667056,129792.0,202.0,1066.0,T,43.21667,43.21667,43.21667,1.0

#### Carga de los datos correspondientes a las imágenes 2D

In [6]:
# Guardamos y mostramos los valores correspondientes a las imágenes 2D
q03 = "SELECT * FROM GR_QPValues"
dosD = pd.read_sql(q03,cnx)
dosD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,227501982,123817.0,1243.0,1066.0,T,126.82590,126.82590,126.82590,1.0
1,227501982,123817.0,1234.0,1066.0,T,184.95621,184.95621,184.95621,1.0
2,227501982,125353.0,1243.0,1066.0,T,125.99920,125.99920,125.99920,1.0
3,227501982,125353.0,1234.0,1066.0,T,183.72990,183.72990,183.72990,1.0
4,227501982,126889.0,1243.0,1066.0,T,134.66490,134.66490,134.66490,1.0
...,...,...,...,...,...,...,...,...,...
1272307,231628391,56.0,1243.0,1066.0,T,299.99670,299.99670,299.99670,1.0
1272308,231628391,1592.0,1243.0,1066.0,T,299.99670,299.99670,299.99670,1.0
1272309,231628391,3384.0,1243.0,1066.0,T,299.08820,299.08820,299.08820,1.0
1272310,231628391,5176.0,1243.0,1066.0,T,290.91199,290.91199,290.91199,1.0
1272311,231628391,6968.0,1243.0,1066.0,T,282.36630,282.36630,282.36630,1.0

In [7]:
# Ordenamos el DF a través de la ID de la bobina, el número de teja y el número de sensor
dosD = dosD.sort_values(['COILID', 'MID', 'TILEID']).reset_index(drop=True)
dosD

,COILID,TILEID,MID,PLANT,SIDE,MEAN,MAX,MIN,COUNT
0,225216688,0.0,1234.0,1066.0,T,147.09500,147.09500,147.09500,1.0
1,225216688,28.0,1234.0,1066.0,T,143.53551,143.53551,143.53551,1.0
2,225216688,56.0,1234.0,1066.0,T,132.94450,132.94450,132.94450,1.0
3,225216688,85.0,1234.0,1066.0,T,141.23540,141.23540,141.23540,1.0
4,225216688,113.0,1234.0,1066.0,T,143.35880,143.35880,143.35880,1.0
...,...,...,...,...,...,...,...,...,...
1272307,233667056,130929.0,1243.0,1066.0,T,46.29932,46.29932,46.29932,1.0
1272308,233667056,130958.0,1243.0,1066.0,T,45.68384,45.68384,45.68384,1.0
1272309,233667056,130986.0,1243.0,1066.0,T,44.40857,44.40857,44.40857,1.0
1272310,233667056,131015.0,1243.0,1066.0,T,44.03534,44.03534,44.03534,1.0
1272311,233667056,131043.0,1243.0,1066.0,T,52.01275,52.01275,52.01275,1.0

#### Función encargada de obtener las características de cada bobina

In [8]:
def get_features(datos, clasificados):
    # Creamos el DF que se devolverá con las diferentes columnas
    rDF = pd.DataFrame(columns = ['COILID' , 'MID', 'ZNMAX_FAILURES','ZNMIN_FAILURES', 'CALIBRATED', 'TOTAL_TILEID', 'L_DIS','R_DIS', 'MAP', 'DECISSION_OP'])
    
    # Inicializamos los parámetros con los que se trabajará a lo largo de la función
    errorAntes = False # Será False en caso de que en la anterior iteración no hubiera ningún error,
                        # y True en caso contrario
    midAnterior = -1 # Contiene el ID del sensor de la anterior iteración 
    idAnterior = -1 # Contiene la ID de la bobina de la anterior iteración
    calibradosTotales = 0 # Contador de calibrados
    fallosTotalesMax = 0 # Contador de fallos por exceso de Zn
    fallosTotalesMin = 0 # Contador de fallos por falta de Zn
    contadorID = -1 # Contador para añadir los registros por orden en pandas
    mapa = []
    
    # Se recorren todas las tejas de todas las bobinas para evaluarlas
    for i in range(len(datos)):
        # ID de la bobina
        id = datos['COILID'][i]
        # ID del sensor que ha medido los datos
        mid = datos['MID'][i]
        
        # Comparamos las ID de los sensores y en caso de ser diferentes es que hemos pasado a analizar
        # los datos de otro sensor, por lo que se pueden guardar los datos evaluado del anterior sensor
        if mid != midAnterior:
            # Este contador permite no guardar datos en la primera iteración.
            if contadorID >= 0:
                # Obtenemos el número de tejas que tiene cada bobina por sensor
                tejasTotales = len(datos[(datos['COILID'] == idAnterior) & (datos['MID'] == midAnterior)])
                # Obtenemos la mitad de la bobina
                mitad = int(tejasTotales/2)                
                # Inicializamos la distancia a 0 por si no se encuntrar errores
                ldis = 0
                rdis = 0                
                # Recorremos desde la mitad hasta el inicio de la bobina hasta encontrar un fallo
                for j in range(mitad):
                    if mapa[mitad - 1 - j] != 0:
                        ldis = mitad - j
                        break                        
                # Recorremos desde la mitad hasta el final de la bobina hasta encontrar un fallo        
                for j in range(mitad):
                    if mapa[mitad + j] != 0:
                        rdis = mitad - j
                        break
                        
                # Guardamos los datos
                rDF.loc[contadorID] = [idAnterior,  midAnterior, fallosTotalesMax, fallosTotalesMin, calibradosTotales, tejasTotales, ldis, rdis, str(mapa), label]
                
                # Se reinician los contadores de fallos, calibrados y booleano de error
                fallosTotalesMax = 0
                fallosTotalesMin = 0
                calibradosTotales = 0
                errorAntes = False
                mapa = []
            # Se aumenta el contador en 1 para guardar correctamente los datos en el DF    
            contadorID = contadorID + 1
            # Se actualiza la ID del sensior
            midAnterior = mid
            
        # En caso de que las IDs de las bobinas no coincidan se obtienen los datos de la nueva bobina        
        if idAnterior != id:
            # Se obtiene el registro de la bobina evaluada
            registro = clasificados.loc[clasificados['SID']==id]
            # Se guardan su ID, valores max y min de ZN
            idAnterior = registro['SID'].iloc[0]
            znMax = registro['ZnMax'].iloc[0]
            znMin = registro['ZnMin'].iloc[0]
            label = registro['CLASSLABEL'].iloc[0]
            # Se actualiza la ID de la nueva bobina
            idAnterior = id
            
        
        # Obtenemoss el ZN max y min que se ha medido en la teja
        datosMax = datos['MAX'][i]
        datosMin = datos['MIN'][i]
        # Obtenemos la ID de la teja a evaluar
        tileid = datos['TILEID'][i]            
        # Obtenemos el sensor que ha medido los datos
        mid = datos['MID'][i]
        # Obtenemos el valor medio de ZN en la teja
        mean = datos['MEAN'][i]
        
        codificado = 0
        # Evaluamos si cumple o no con los valores máximos de ZN
        if round(datosMax,1) > znMax:
            # En caso de que en la anterior iteración no hubiera un error se aumenta el número de fallos,
            # en caso contrario no se actualiza ya que seguimos en el mismo fallo
            if errorAntes != True:
                fallosTotalesMax = fallosTotalesMax + 1
                errorAntes = True
                
            codificado = 1
        # Evaluamos si cumple o no con los valores mínimos de ZN y no es una calibración
        elif  round(datosMin,1) < znMin and (datosMax > 0 and datosMin > 0):
            # En caso de que en la anterior iteración no hubiera un error se aumenta el número de fallos,
            # en caso contrario no se actualiza ya que seguimos en el mismo fallo
            if errorAntes != True:
                fallosTotalesMin = fallosTotalesMin + 1
                errorAntes = True
                
            codificado = -1
        # En caso de que los valores sean 0 se actualzia el contador de calibrados
        elif datosMax == 0 and datosMin == 0:
            calibradosTotales = calibradosTotales + 1
            # Se cambia a False el error, ya que los calibrados no son errores
            errorAntes = False
        else:
            # Se cambia a False ya que la teja evaluada cumple con los requisitos
            errorAntes = False 
        
        mapa.append(codificado)
    # Obtenemos el número de tejas que tiene cada bobina por sensor
    tejasTotales = len(datos[(datos['COILID'] == idAnterior) & (datos['MID'] == midAnterior)])
    # Obtenemos la mitad de la bobina
    mitad = int(tejasTotales/2)
    # Inicializamos la distancia a 0 por si no se encuntrar errores
    ldis = 0
    rdis = 0  
    # Recorremos desde la mitad hasta el inicio de la bobina hasta encontrar un fallo 
    for j in range(mitad):
        if mapa[mitad - 1 - j] != 0:
            ldis = mitad - j
            break            
    # Recorremos desde la mitad hasta el final de la bobina hasta encontrar un fallo 
    for j in range(mitad):
        if mapa[mitad + j] != 0:
            rdis = mitad - j
            break
            
    # Guardamos los datos
    rDF.loc[contadorID] = [id,  mid, fallosTotalesMax, fallosTotalesMin, calibradosTotales, tejasTotales, ldis, rdis, str(mapa), label]  
    
    # Se devuelve el DF generado
    return rDF

In [9]:
# Características de los datos 1D
Features1D = get_features(unoD, clasif)
Features1D

,COILID,MID,ZNMAX_FAILURES,ZNMIN_FAILURES,CALIBRATED,TOTAL_TILEID,L_DIS,R_DIS,MAP,DECISSION_OP
0,225216688,123.0,0,6,0,26,13,12,"[-1, -1, -1, -1, -1, -1, 0, -1, -1, -1, -1, -1...",OK
1,225216688,124.0,4,0,0,26,3,6,"[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",OK
2,225216688,201.0,1,1,0,26,3,4,"[-1, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",OK
3,225216688,202.0,1,1,0,26,13,13,"[1, 1, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, ...",OK
4,225220725,123.0,2,5,0,54,17,27,"[1, 1, 1, 1, 0, 1, 0, 0, 0, 0, -1, 0, -1, 0, -...",OK
...,...,...,...,...,...,...,...,...,...,...
4635,233652453,202.0,2,0,0,16,8,8,"[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1]",OK
4636,233667056,123.0,1,0,0,26,13,13,"[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",OK
4637,233667056,124.0,1,1,0,26,13,13,"[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",OK
4638,233667056,201.0,1,0,0,26,13,13,"[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",OK
4639,233667056,202.0,1,1,0,26,13,13,"[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",OK

In [10]:
# Características de los datos 2D
Features2D = get_features(dosD, clasif)
Features2D

,COILID,MID,ZNMAX_FAILURES,ZNMIN_FAILURES,CALIBRATED,TOTAL_TILEID,L_DIS,R_DIS,MAP,DECISSION_OP
0,225216688,1234.0,7,61,0,576,288,282,"[0, 0, -1, 0, 0, -1, -1, -1, -1, 0, 0, -1, -1,...",OK
1,225216688,1243.0,56,46,0,576,288,286,"[0, 0, -1, -1, 1, 0, 0, 1, 1, 0, 0, -1, -1, 1,...",OK
2,225220725,1234.0,105,30,0,1197,590,598,"[-1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1...",OK
3,225220725,1243.0,77,25,0,1197,595,595,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",OK
4,225221499,1234.0,10,65,0,720,360,360,"[1, 1, 1, 1, 1, 0, 0, -1, -1, 1, 1, 1, 1, 1, 0...",OK
...,...,...,...,...,...,...,...,...,...,...
2315,233651834,1243.0,5,80,0,729,364,364,"[0, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,...",OK
2316,233652453,1234.0,10,18,0,351,175,175,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...",OK
2317,233652453,1243.0,32,22,0,351,172,172,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...",OK
2318,233667056,1234.0,9,3,0,576,288,288,"[0, 0, 0, 0, 1, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0,...",OK
2319,233667056,1243.0,3,5,0,576,288,288,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",OK

#### Creación de la tabla SQL con los datos obtenidos

In [11]:
# Creamos la conexión con la base de datos
try:
    cnx2 = connection.MySQLConnection(user='leer', 
                                     password='candanal',
                                     host='138.100.82.178',
                                     database='deepquality_tmp')

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Usuario o contraseña incorrecto")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe")
    else:
        print(err)

In [12]:
# Creamos un cursor para ejecutar sentencias SQL
mycursor = cnx2.cursor()
# Creamos la base de datos
mycursor.execute("CREATE TABLE FEATURES_1D(COILID varchar(254), MID double, ZNMAX_FAILURES int, ZNMIN_FAILURES int, CALIBRATED int, TOTAL_TILEID int, L_DIS int, R_DIS int, MAP varchar(2000), DECISSION_OP varchar(254))")
mycursor.execute("CREATE TABLE FEATURES_2D(COILID varchar(254), MID double, ZNMAX_FAILURES int, ZNMIN_FAILURES int, CALIBRATED int, TOTAL_TILEID int, L_DIS int, R_DIS int, MAP varchar(2000), DECISSION_OP varchar(254))")
# Hacemos commit
cnx2.commit()

In [13]:
# Creamos una conexión con create_engine para poder subir los datos del DataFrame
cnx3 = create_engine("mysql+pymysql://leer:candanal@138.100.82.178/deepquality_tmp")

# Guardamos los datos en la nueva tabla
Features1D.to_sql('FEATURES_1D', con = cnx3, if_exists = 'replace', index = False)
Features2D.to_sql('FEATURES_2D', con = cnx3, if_exists = 'replace', index = False)

# Cerramos conexiones con la base de datos
cnx.close()
cnx2.close()